*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* --- Basic --- */

header {
    background-color: #142850;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;

}

body {

    font-family: 'Baloo', cursive;
    color: #384047;
    padding-bottom: 30px;
}


footer {
    text-align: center;

}

h3 {
    padding-bottom: 25px;
}

legend {
    font: bold 20px black;
    position:absolute;
    margin-top: -30px;
}

fieldset {
    position:relative;
    padding-top: 20px;
}

/* --- form --- */

form {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;

}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {

    border: none;
    font-size: 16px;
    height: auto;
    margin-top: 5px;
    outline: 0;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    background-color: #f4eeff;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    margin-bottom: 0px;
    transition: all 0.5s;
}

textarea {
    margin-bottom: 0px;
}

select {
    height: 50px;
}


input[id^="zip"] {
    width: 40%;

}

input[id^="city"] {
    background-color: #7f78d2;

}


input::placeholder {
    color: #30475e;
    font-size: 0.85em;
    font-style: italic;
    padding-right: 5px;
    text-align: right;

    
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
#state:focus {
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
        border: solid 2px #d7fffd;
        

}



/* --- Radio & Checkbox --- */
input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}


/* --- Class --- */


.head-content {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5;

}

.sub-body {
    width: 80%;
    margin: auto;
}

.hr-1 {
    border-top: 3px solid black;
    border-right: none;
    border-left: none;
    padding-bottom: 2px;

}

.hr-2 {
    border-top: 2px solid black;
    border-right: none;
    border-left: none;
}

.first-form,
.second-form {
    border: none;
    padding-top: 20px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;

}

.second-form {
    background-color: #a6b1e1;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
}

.full-name {
    margin-top: 8px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #cc0e74;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
}


/* --- Laptop & Tablet --- */

@media screen and (min-width: 768px) {

    .sub-body {
        width: 55%;
        margin: auto;
    }

    body {
        padding-bottom: 0px;

    }

    .full-name,
    .email-address,
    .phone-number,
    .street-address,
    .city,
    .state {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }



    .zip-code {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    select {
        width: 75%;

    }


    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    select {
        margin: 0px;
    }

    input[id^="zip"] {
        width: 40%;

    }

}